<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
            <p>
                this site was created by Abc def. it uses data from mapbpx.com and weatherstack.com.
            </p>
            <img src="img/robot.png" class="portrait">
            {{!-- <p>Created by {{name}}</p> --}}
        </div>
        {{>footer}}
    </body>
</html>